<nav *ngIf="pagesCount" class="table-nav" aria-label="Data grid navigation">

  <ul class="pagination justify-content-end">

    <li 
    class="page-item disabled"
    [class.disabled]="currentPage === 1"
    (click)="handlePreviousButton()">

      <span class="page-link">Previous</span>
    </li>

   <!--  <li class="page-item active">
      <span class="page-link">1 <span class="sr-only">(current)</span></span>
    </li>

    <li class="page-item">
      <span class="page-link">2</span>
    </li> -->
    <li *ngFor="let item of navArray" [class.active]="item === currentPage" class="page-item">
        <span class="page-link">{{item}}</span>
    </li>

    <li 
      class="page-item"
      [class.disabled]="currentPage === pagesCount"
      (click)="handleNextButton()">

      <span class="page-link">Next</span>
    </li> 

   

  </ul>

</nav>
