<nav *ngIf="pagesCount" class="table-nav" aria-label="Data grid navigation">

  <ul class="pagination justify-content-end">

    <li
      class="page-item"
      (click)="handlePreviousButton()"
      [class.disabled]="currentPage === 1">
      <span class="page-link">Prev</span>
    </li>

    <li 
      *ngFor="let item of navArray"
      class="page-item"
      (click)="handlePageChange(item)"
      [class.active]="item === currentPage">
        <span class="page-link">{{item}}</span>
        <span *ngIf="item === currentPage" class="sr-only">(current)</span>
    </li>

    <li 
      class="page-item"
      (click)="handleNextButton()"
      [class.disabled]="currentPage === pagesCount">
      <span class="page-link">Next</span>
    </li> 

  </ul>

</nav>
