.filter-wrapper {

	.clear-filter-button {
    position: relative;
		background: none;
		border: none;
		outline: none;
		font-size: 24px;
		position: absolute;
		right: 25px;
		top: 5px;
		cursor: pointer;
		transition: color .4s;

		&:hover, &:active {
			color: orangered;
		}
	}
}